In this challenge, you get to be the _boss_. You oversee hundreds of employees across the country developing Tuna 2.0, a world-changing snack food based on canned tuna fish. Alas, being the boss isn't all fun, games, and self-adulation. The company recently decided to purchase a new HR system, and unfortunately for you, the new system requires employee records be stored completely differently.

Your task is to help bridge the gap by creating a Python script able to convert your employee records to the required format. Your script will need to do the following:

* Import the `employee_data1.csv` and `employee_data2.csv` files, which currently holds employee records like the below:

Emp ID,Name,DOB,SSN,State

214,Sarah Simpson,1985-12-04,282-01-8166,Florida
15,Samantha Lara,1993-09-08,848-80-7526,Colorado
411,Stacy Charles,1957-12-20,658-75-8526,Pennsylvania

* Then convert and export the data to use the following format instead:

Emp ID,First Name,Last Name,DOB,SSN,State

214,Sarah,Simpson,12/04/1985,***-**-8166,FL
15,Samantha,Lara,09/08/1993,***-**-7526,CO
411,Stacy,Charles,12/20/1957,***-**-8526,PA

In [17]:
#PyBoss - via Pandas
import pandas as pd

In [18]:
# Store filepath in a variable
file_one = "raw_data/employee_data1.csv"

In [19]:
# Read our Data file with the pandas library
file_one_df = pd.read_csv(file_one, encoding = "ISO-8859-1")

In [20]:
file_one_df.head()

   Emp ID           Name         DOB          SSN         State
0     214  Sarah Simpson  1985-12-04  282-01-8166       Florida
1      15  Samantha Lara  1993-09-08  848-80-7526      Colorado
2     411  Stacy Charles  1957-12-20  658-75-8526  Pennsylvania
3     166   Michelle Roy  1978-07-29  794-25-3944      Michigan
4      39  Joseph Rogers  1985-03-28  525-40-3515     Minnesota

In [21]:
#create new data frame
new_hr_df = file_one_df[["Emp ID", "Name", "DOB", "SSN","State"]]

In [22]:
# Add new column to DF
#new_hr_df["First Name"]
#new_hr_df.head()

# Place the data series into a new column inside of the DataFrame
#new_hr_df["View Group"] = pd.cut(ted_df["views"],bins,labels=group_labels)
#ted_df.head()

new_hr_df['First Name'], new_hr_df['Last Name'] = new_hr_df['Name'].str.split(' ', 1).str
new_hr_df.head()

,Emp ID,Name,DOB,SSN,State,First Name,Last Name
0,214,Sarah Simpson,1985-12-04,282-01-8166,Florida,Sarah,Simpson
1,15,Samantha Lara,1993-09-08,848-80-7526,Colorado,Samantha,Lara
2,411,Stacy Charles,1957-12-20,658-75-8526,Pennsylvania,Stacy,Charles
3,166,Michelle Roy,1978-07-29,794-25-3944,Michigan,Michelle,Roy
4,39,Joseph Rogers,1985-03-28,525-40-3515,Minnesota,Joseph,Rogers

In [27]:
#parse the table and reformat the fields
for row in new_hr_df:

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas